* {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Signika Negative', sans-serif !important;
    background-color: rgb(174, 174, 174);
    text-align: center;
    padding: 50px;
}

#title {
    font-family: 'Signika Negative', sans-serif;
    font-size: 48;
    font-weight: 900;
}

.header a {
    box-sizing: border-box;
    display: inline;
    margin: auto;
    border: 50px 75px;
    padding: 15px;
    font-size: 28;
    font-weight: 800;
}

.intro {
    box-sizing: border-box;
    margin: 10px 50px;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

a:visited {
    color: blue;
}

body {
    width: 90%;
}

body h2 {
    text-align: left;
}

body h3 {
    padding: 10px;
}

.position {
    text-align: justify;
    /* box-sizing: border-box;
    width: 40%;
    padding-left: 50px; */
}

.subnorm {
    width: 50%;
    margin-left: 106.5px;
}

.subanom {
    width: 50%;
    margin-left: 46px;
}

.rice,
.pioneer {
    box-sizing: border-box;
    padding: 5px;
    width: 4.2%;
    margin-left: 20px; /* margin-left here + margin-left .norm = 45px */
}

.usfs {
    padding: 2px;
    width: 2.9%;
}

.sjsu {
    margin-top: 15px;
    padding: 1px;
    width: 4.5%;
}

.edu,
.exp {
    display: inline;
}

.norm {
    width: 50%;
    margin-left: 25px;
}
