* {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Signika Negative', sans-serif !important;
    background-color: rgb(174, 174, 174);
    text-align: center;
    padding: 50px;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-size: 60;
    font-weight: 1000;
}

#subtitle {
    font-family: 'Signika Negative', sans-serif;
    font-size: 30;
    font-weight: 400;
}

.break {
    border: 1px solid black;
    width: 80%;
}

.header a {
    box-sizing: border-box;
    display: inline;
    margin: auto;
    border: 50px 75px;
    padding: 25px 15px 15px 15px;
    font-size: 28;
    font-weight: 800;
}

.senior,
.pioneer,
.dfa,
.chess {
    text-align: center;
    box-sizing: border-box;
    /* width: 570px; */
    height: 350px;
    width: 47.8%;
    /* height: 50%; */
    margin: auto;
    border: 3px solid black;
    padding: 4%;
    /* padding: 40px; */
    display: inline-block;
}

.senior,
.pioneer {
    margin: 15px;
}

.dfa,
.chess {
    margin: 15px 15px 24px 15px;
}

.senior {
    background-color: rgba(255, 0, 0, 0.5);
}

.senior a {
    border: 2px solid black;
    background-color: rgba(255, 0, 0, 0.63);
    padding: 20px;
}

.pioneer a {
    border: 2px solid black;
    background-color: rgba(0, 255, 0, 0.7);
    padding: 20px;
}

.dfa a {
    border: 2px solid black;
    background-color: rgba(100, 100, 252, 0.75);
    padding: 20px;
}


.chess a {
    border: 2px solid black;
    background-color: rgba(255, 0, 255, 0.6);
    padding: 20px;
}

a:hover {
    color: white;
}

a {
    color: blue;
}

.pioneer {
    background-color: rgba(0, 255, 0, 0.5);
}

.dfa {
    background-color: rgba(0, 0, 255, 0.4);
}

.chess {
    background-color: rgba(255, 0, 255, 0.5);
}

div h2 {
    font-weight: 600;
    height: 70px;
    overflow: hidden;
}

.description {
    height: 60px;
}

.github,
.meta,
.linkedin {
    width: 6%;
}

.form {
    margin-bottom: 10px;
}

.footer {
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.9);
    color: white;
    margin: auto;
    border: 5px 10px;
    padding: 25px;
}
/* 
.vl {
    display: inline;
    border-left: 6px solid black;
    height: 500px;
} */

#copyright {
    font-size: 14px;
}

#feedback {
    background-color: rgb(71, 129, 160);
    color: white;
    width: 7%;
    height: 5%;
    font-size: 16px;
    border: 2px solid black;
    margin-top: 10px;
}
