* {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Lato', sans-serif !important;
    background-color: rgb(174, 174, 174);
    text-align: center;
    padding: 50px;
}

#title {
    font-size: 48;
    font-weight: 900;
}

.header a {
    box-sizing: border-box;
    display: inline;
    margin: auto;
    border: 50px 75px;
    padding: 15px;
    font-size: 28;
    font-weight: 800;
}

.footer {
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.9);
    color: white;
    margin: auto;
    border: 5px 10px;
    padding: 70px;
}
/* 
.vl {
    display: inline;
    border-left: 6px solid black;
    height: 500px;
} */

.senior,
.pioneer,
.dfa,
.chess {
    text-align: center;
    box-sizing: border-box;
    width: 47%;
    height: 50%;
    border: 3px solid black;
    padding: 60px;
    display: inline-block;
}

.senior,
.pioneer {
    margin: 15px;
}

.dfa,
.chess {
    margin: 15px 15px 22px 15px;
}

div h2 {
    font-weight: 800 !important;
}

.senior {
    background-color: rgba(255, 0, 0, 0.5);
}

.senior a {
    border: 2px solid black;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 20px;
}

.pioneer a {
    border: 2px solid black;
    background-color: rgba(0, 255, 0, 0.7);
    padding: 20px;
}

a:hover {
    color: white;
}

a:visited {
    color: blue;
}

.pioneer {
    background-color: rgba(0, 255, 0, 0.5);
}

.dfa {
    background-color: rgba(0, 0, 255, 0.5);
}

.chess {
    background-color: rgba(255, 0, 255, 0.5);
}

.github,
.meta,
.linkedin {
    width: 8%;
}
